body {
  background: #9311F5;
  color: #E0E0E2;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

h1 {
  text-align: center;
}

button {
  background: #75F4F4;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
}

button.flat {
  border: none;
  background: transparent;
}

a {
  color: #ffffff;
}

.form-text, .text {
  font-size: 1.2rem;
  padding: 20px 10px;
}

.form-field {
  padding: 20px 10px;
}

.form-field label {
  font-weight: bold;
  width: 100%;
  display: block;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.form-field input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #C987FF;
  font-size: 1.3rem;
  padding: 10px 0;
  width: 100%;
}

.form-field input::placeholder {
  color: #aaaaaa;
}

.form-field input[type=password]:focus,
.form-field input[type=text]:focus {
  background: #E4C3FF;
  outline: none;
}

.form-action {
  padding: 10px;
  margin-bottom: 10px;
}
